In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from scipy import stats

%matplotlib inline

In [4]:
df = pd.read_csv('../Processed_Data/data.csv', index_col=0)

In [5]:
df.head()

      Company       Location Job_Title Subspecialty  Total_Comp        Role
0       Other  San Francisco    Senior        Other    198000.0  Consultant
1    Facebook     Menlo Park        L4      Product    177000.0  Consultant
2       Other  San Francisco     Other        Other    120000.0  Consultant
3  Salesforce        Atlanta     Other        Other    178000.0  Consultant
4      Oracle  San Francisco     Other        Other     82000.0  Consultant

In [6]:
df.nunique()

Company          33
Location         27
Job_Title        35
Subspecialty     17
Total_Comp      518
Role              8
dtype: int64

In [7]:
df.shape

(28092, 6)

In [22]:
test = df.copy()

In [14]:
test.columns

Index(['Company', 'Location', 'Job_Title', 'Subspecialty', 'Total_Comp',
       'Role'],
      dtype='object')

In [11]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.linear_model import LinearRegression

In [27]:
oe = OrdinalEncoder()

test[['Company','Location','Job_Title','Subspecialty','Role']] = oe.fit_transform(test[['Company','Location','Job_Title','Subspecialty','Role']])

test.head()

   Company  Location  Job_Title  Subspecialty  Total_Comp  Role
0     22.0      19.0       31.0          10.0    198000.0   0.0
1     10.0      11.0       23.0          11.0    177000.0   0.0
2     22.0      19.0       27.0          10.0    120000.0   0.0
3     25.0       0.0       27.0          10.0    178000.0   0.0
4     21.0      19.0       27.0          10.0     82000.0   0.0

In [28]:
ss = StandardScaler()

test[['Company','Location','Job_Title','Subspecialty','Role']] = ss.fit_transform(test[['Company','Location','Job_Title','Subspecialty','Role']])
test.head()

    Company  Location  Job_Title  Subspecialty  Total_Comp      Role
0  0.774181  0.583569   0.987768      0.845499    198000.0 -4.281917
1 -0.638099 -0.793337   0.006345      1.082929    177000.0 -4.281917
2  0.774181  0.583569   0.497056      0.845499    120000.0 -4.281917
3  1.127251 -2.686582   0.497056      0.845499    178000.0 -4.281917
4  0.656491  0.583569   0.497056      0.845499     82000.0 -4.281917

In [48]:
X = test[['Company','Location','Job_Title','Subspecialty','Role']].values
Y = test['Total_Comp']

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, train_size=0.8, random_state=0)

In [51]:
X_train.shape, y_train.shape

((22473, 5), (22473,))

In [52]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [53]:
from sklearn.metrics import mean_squared_error, r2_score

In [54]:
def evaluate_model(model, X_train, X_test, y_train, y_test):
    pred = model.predict(X_train)
    # pred = np.exp(pred)
    print('Train R2: {}'.format(r2_score(y_train, pred)))
    print('Train MSE: {}'.format(mean_squared_error(y_train, pred)))

    pred = model.predict(X_test)
    # pred = np.exp(pred)
    print('Test R2: {}'.format(r2_score(y_test, pred)))
    print('Test MSE: {}'.format(mean_squared_error(y_test, pred)))

In [55]:
evaluate_model(lr, X_train, X_test, y_train, y_test)

Train R2: 0.04592132475660271
Train MSE: 9360844304.251568
Test R2: 0.044606234007910084
Test MSE: 9559179954.825861

In [56]:
from sklearn.ensemble import GradientBoostingRegressor

In [57]:
xgb = GradientBoostingRegressor()
xgb.fit(X_train, y_train)

evaluate_model(xgb, X_train, X_test, y_train, y_test)

Train R2: 0.43342982821909326
Train MSE: 5558844677.165775
Test R2: 0.43158103870387043
Test MSE: 5687308557.13987

In [58]:
from sklearn.model_selection import GridSearchCV

In [71]:
# params = {'max_depth': range(5,16,2),
#             'learning_rate': [0.05, 0.1, 0.15, 0.2],
#             'min_samples_split': range(200,1001,200),
#             'n_estimators': [50,75,100,125,150]}

# grid = GridSearchCV(estimator = GradientBoostingRegressor(random_state = 10), param_grid = params, scoring = 'r2', n_jobs = 4)
# grid.fit(X_train, y_train)
# grid.grid_scores_, grid.best_params_, grid.best_score_

KeyboardInterrupt