In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from scipy import stats

%matplotlib inline

In [4]:
df = pd.read_csv('Processed_Data/data.csv', index_col=0)

In [5]:
df.head()

      Company       Location Job_Title Subspecialty  Total_Comp        Role
0       Other  San Francisco    Senior        Other    198000.0  Consultant
1    Facebook     Menlo Park        L4      Product    177000.0  Consultant
2       Other  San Francisco     Other        Other    120000.0  Consultant
3  Salesforce        Atlanta     Other        Other    178000.0  Consultant
4      Oracle  San Francisco     Other        Other     82000.0  Consultant

In [8]:
df.nunique()

Company          33
Location         27
Job_Title        35
Subspecialty     17
Total_Comp      518
Role              8
dtype: int64

In [9]:
df.shape

(28092, 6)